body, html {
    margin:0;
    padding:0;
}

#landing {
    background-image: url(background.png);
    background-repeat:no-repeat;
    background-size: cover;
}

div.full-page {
    width:100vw;
    max-width:100%;
    height:100vh;
    overflow:hidden;
}

#landing-page {
    color: white;
    font: size 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;

    top:50%;
    left:50%;
    position:absolute;
    transform:translate(-50%,-50%);
}

.panels {
    padding-top:20px;
    padding-bottom:20px;
    padding-left:30px;
    padding-right: 30px;
}

h2 {
    font-size: 2rem;
    text-align: center;
}

p span {
    display:block;
    text-align: center;
}

header {
    position:fixed;
    width: 100%;
    padding-top:10px;
    padding-bottom:10px;
    overflow:hidden;
    z-index:1;
}

nav {
    text-align:right;
    padding-top:5px;
    padding-bottom: 5px;

}

nav a {
    color: blue;
    margin-left:15px;
    margin-right:15px;
    text-decoration:none;
    font-size:18px;
}

nav b {
    color: white;
    margin-left:15px;
    margin-right:15px;
    text-decoration:none;
    font-size:18px;
}

nav c {
    color: red;
    margin-left:15px;
    margin-right:15px;
    text-decoration:none;
    font-size:18px;
}